@import "./../base/base.css";
@import "./../base/navigation.css";
@import "./authemtication.css";

.background-authentication {
  background: url("../../img/authentication/forget-back.png");
}

.authentication_button button {
  width: 55%;
  padding: 6px 12px;
}

.authentication_info {
  text-align: right;
  border-bottom: none;
}

@media (min-width: 1600px) {
  .authentication_group {
    margin-bottom: 20px;
  }

  .authentication_group input {
    padding: 10px 20px;
  }

  .authentication_button button {
    width: 50%;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
}
