@import "./../base/base.css";
@import "./../base/navigation.css";
@import "./authemtication.css";

.background-authentication {
  background: url("../../img/authentication/forget-back.png");
}

.authentication_group input {
  padding: 8px 16px;
}

.authentication_button button {
  width: 100%;
  padding: 8px 16px;
  border-radius: 9px;
}

.authentication_info {
  text-align: right;
  border-bottom: none;
}
