@import "./base/base.css";
@import "./base/animation.css";
@import "./base/navigation.css";
@import "./base/footer.css";
@import "./base/carousel.css";

/* Landing */
.header-landing {
  background-color: var(--color-yellow-1);
}

.landing {
  position: relative;
}

.landing_logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 20%;
  background-color: var(--color-green-1);
  border-bottom-right-radius: 8px;
  box-shadow: var(--box-shadow-1);

  height: 50%;
  padding-top: 10px;
}

.landing_logo_title {
  text-align: center;
  color: #fff;
  font-weight: 600;

  font-size: 12px;
}

.landing_video {
  position: relative;
}

.landing_socials {
  position: absolute;
  top: 25%;
  right: calc(1%);
  z-index: 1;

  display: flex;
  flex-direction: column;
}

.landing_socials_icon {
  border-radius: 50%;
  background-color: #fff;
  box-shadow: var(--box-shadow-2);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  font-size: 10px;
  margin-bottom: calc(25%);
}

.landing_socials_icon:nth-child(1) {
  color: #3b5998;
}
.landing_socials_icon:nth-child(2) {
  color: #00acee;
}
.landing_socials_icon:nth-child(4) {
  color: #00b900;
}

.landing_card {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
  background-color: #fff;
  box-shadow: var(--box-shadow-2);
  display: flex;
  align-items: center;

  width: 60%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.landing_card_text {
  flex-grow: 1;
  font-size: 8px;
  padding-left: 8%;
  padding-right: 4%;
}

.landing_card_text a {
  font-weight: 600;
  color: var(--color-green-1);
}

.landing_card_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 3px solid var(--color-green-1);
  padding: 3% 4%;
}

.landing_card_link_icon {
  border-radius: 50%;
  background-color: var(--color-green-1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  width: 15px;
  height: 15px;
  font-size: 8px;
  margin-bottom: 3px;
}

.landing_card_link_text {
  font-weight: 500;
  font-size: 6px;
}

@media screen and (min-width: 1200px) {
  .landing {
    position: relative;
    height: 100vh;
  }

  .landing_logo {
    border-bottom-right-radius: 20px;
  }

  .landing_logo_title {
    font-size: 24px;
  }

  .landing_video {
    width: 90%;
    height: 90%;
    margin-left: auto;
  }

  .landing_video_frame {
    border-bottom-left-radius: calc(100px);
    overflow: hidden;
  }

  .landing_video_frame,
  .landing_video_frame picture,
  .landing_video_frame picture img {
    height: 100%;
  }

  .landing_socials_icon {
    width: 40px;
    height: 40px;
    font-size: 18px;
    margin-bottom: calc(10px + 10%);
  }

  .landing_socials_icon i {
    transition: transform 0.8s;
  }

  .landing_socials_icon:hover i {
    transform: rotate(360deg);
  }

  .landing_card {
    width: 35%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  .landing_card_text {
    font-size: 16px;
    font-weight: 500;
  }

  .landing_card_text a:hover {
    color: var(--color-orange-1);
  }

  .landing_card_link_icon {
    width: 35px;
    height: 35px;
    font-size: 16px;
    transition: all 0.3s;
  }

  .landing_card_link:hover .landing_card_link_icon {
    background-color: var(--color-orange-1);
  }

  .landing_card_link_text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1600px) {
  .landing_logo_title {
    font-size: 32px;
  }

  .landing_video_frame {
    border-bottom-left-radius: calc(120px);
  }

  .landing_socials_icon {
    width: 55px;
    height: 55px;
    font-size: 24px;
  }

  .landing_card_text {
    font-size: 22px;
  }

  .landing_card_link_icon {
    width: 55px;
    height: 55px;
    font-size: 22px;
  }

  .landing_card_link_text {
    font-size: 20px;
  }
}
/* Landing */

/* Concept */

.section-concept {
  padding: 80px 0 0;
  background-color: var(--color-yellow-1);
}

.concept_header {
  text-align: center;
  margin: 0 auto;
}

.concept_background-tree {
  display: none;
}

.concept_title {
  color: var(--color-black-1);
  text-transform: uppercase;

  font-size: 8px;
}

.concept_title span {
  display: block;
  color: var(--color-green-1);
  font-size: 6px;
  margin-bottom: 1.5%;
}

.concept_content {
  width: 60%;
  margin: 0 auto;
}

.concept_content_cards {
  margin-top: 60px;
}

.concept_content_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.col:last-child .concept_content_card {
  margin-bottom: 0;
}

.concept_content_card_header {
  position: relative;
  margin-bottom: 5px;
}

.concept_content_card_title {
  width: 100%;
  border-radius: 12px;
  background-color: var(--color-orange-1);
  text-align: center;
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  padding: 5px;
  font-size: 8px;
}

.concept_content_card_triangle {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--color-orange-1);
}

.concept_content_card_text {
  font-size: 6px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-concept {
    padding: 100px 0 0;
    position: relative;
  }

  .concept_background-tree {
    width: 16%;
    opacity: 0.45;
    position: absolute;
  }

  .concept_background-tree:nth-child(1) {
    top: 5%;
    right: 2.5%;
  }

  .concept_background-tree:nth-child(2) {
    top: 7%;
    right: 5%;
  }

  .concept_header {
    margin-bottom: 50px;
  }

  .concept_title {
    font-size: 18px;
  }

  .concept_title span {
    font-size: 14px;
  }

  .concept_content {
    width: 70%;
    margin: 0 auto;
  }

  .concept_content_cards {
    margin-top: 120px;
  }

  .concept_content_card {
    margin-bottom: 0;
  }

  .concept_content_card_title {
    width: 100%;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 0.6px;
    opacity: 0;

    left: initial;
    transform: translateX(0);
  }

  .concept_content_card_title.concept_content_card_title--animation {
    animation: card-title-move-down 1s;
    opacity: 1;
  }

  .concept_content_card_pic img {
    height: 0;
    transform-origin: bottom;
  }

  .concept_content_card_pic.concept_content_card_pic--animation img {
    animation: card-img-opacity 1s;
    height: 100%;
  }

  .concept_content_card_header {
    margin-bottom: 10px;
  }

  .col:nth-child(2) .concept_content_card {
    margin-top: 20%;
  }

  .concept_content_card_text {
    font-size: 12px;
    text-align: left;
  }
}

@media screen and (min-width: 1600px) {
  .concept_background-tree {
    width: 20%;
  }

  .concept_title {
    font-size: 26px;
  }

  .concept_title span {
    font-size: 18px;
  }

  .concept_content {
    width: 70%;
  }

  .concept_content_cards {
    margin-top: 150px;
  }

  .concept_content_card_title {
    padding: 15px 30px;
    font-size: 16px;
  }

  .concept_content_card_header {
    margin-bottom: 15px;
  }

  .concept_content_card_text {
    font-size: 16px;
  }
}
/* Concept */

/* Rooms */
.section-rooms {
  padding: 50px 0;
}

/* .rooms {
  width: 100%;
  margin: 0 auto;
} */

.room:nth-child(1) {
  margin-bottom: 50px;
}

.room_carousel {
  position: relative;
}

.room_carousel_pics {
  max-height: 250px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.room_carousel_slogan {
  position: absolute;
  top: 0;
  left: 10%;
  transform: translateY(-50%);
}

.room_carousel_slogan_text {
  box-shadow: var(--box-shadow-1);
  background-color: var(--color-yellow-1);
  font-weight: 600;

  padding: 2.5px 15px;
  font-size: 8px;
  line-height: 1.1;
}

.room_carousel_slogan span {
  color: var(--color-orange-1);
}

.room_carousel_bar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}

.room_carousel_bar_arrows {
  display: flex;
  justify-content: space-between;
  /* color: #fff;
  font-size: 10px; */
}

.room_carousel_bar_numbers {
  display: none;
}

.room_content {
  position: relative;
  overflow: hidden;
}

.room_background-text {
  position: absolute;
  bottom: 25%;
  right: 0;
  z-index: 1;

  font-family: "Courgette", cursive;
  font-weight: 600;
  color: var(--color-green-opacity-2);

  font-size: 48px;
  letter-spacing: 1px;

  transform: rotate(30deg);
}

.room_card {
  /* box-shadow: var(--box-shadow-1); */
  background-color: var(--color-yellow-1);
  display: flex;
  flex-direction: column;

  padding: 10px 15px;
  min-height: 160px;
  width: 100%;

  position: relative;
}

.room:last-child .room_card {
  margin-left: auto;
}

.room_card_title {
  font-weight: 600;
  color: var(--color-orange-1);
  margin-bottom: 3px;

  font-size: 12px;
}

.room_card_price {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: 500;

  font-size: 10px;
}

.room_card_price span {
  font-size: 6px;
}

.room_card_features {
  display: flex;
  gap: 5px;
  margin-bottom: 6px;
}

.room_card_feature {
  width: 12px;
  height: 12px;
}

.room_card_text {
  width: 65%;
  font-size: 6px;
}

.room_card_button {
  width: 100%;
  margin-top: auto;
  border-radius: 8px;
  background-color: var(--color-green-1);
  text-align: center;
  font-weight: 500;
  color: #fff;

  font-size: 10px;
  padding: 1px;
}

@media screen and (min-width: 1200px) {
  .section-rooms {
    padding: 80px 0 100px;
  }

  .rooms {
    width: 100%;
  }

  .room {
    display: flex;
  }

  .room:last-child {
    flex-direction: row-reverse;
  }

  .room:nth-child(1) {
    margin-bottom: 150px;
  }

  .room_carousel {
    width: 65%;
  }

  .room_carousel_pics {
    max-height: 500px;
    border-top-left-radius: 0;
    border-top-right-radius: 50px;
  }

  .room_carousel_pics--right {
    border-top-right-radius: 0;
    border-top-left-radius: 50px;
  }

  .room_carousel_slogan {
    left: 20%;
  }

  .room_carousel_slogan--right {
    left: initial;
    right: 20%;
  }

  .room_carousel_slogan_text {
    padding: 10px 30px;
    font-size: 16px;
    line-height: 1.2;
    transform-origin: left bottom;
    transition: transform 0.3s;
  }

  .room_carousel_slogan_text--right {
    transform-origin: right bottom;
  }

  .room_carousel_slogan:hover .room_carousel_slogan_text {
    transform: rotate(-10deg);
  }

  .room_carousel_slogan:hover
    .room_carousel_slogan_text.room_carousel_slogan_text--right {
    transform: rotate(10deg);
  }

  .room_carousel_bar {
    position: initial;
    transform: translateY(0);

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .room_carousel_bar--right {
    margin-left: auto;
    justify-content: flex-start;
  }

  .room_carousel_bar_numbers {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .room_carousel_bar_number {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-green-opacity-1);
    cursor: pointer;
    font-family: "Courgette", cursive;
  }

  .room_carousel_bar_number.myCarousel_number.myCarousel_number--active {
    color: var(--color-orange-opacity-1);
  }

  .room_carousel_bar_arrows {
    margin-left: 25px;
    gap: 10px;

    color: var(--color-green-opacity-1);
  }

  .room_carousel_bar_arrow {
    cursor: pointer;
  }

  .room_carousel_bar_arrow:hover,
  .room_carousel_bar_number:hover {
    color: var(--color-orange-opacity-1);
  }

  .room_content {
    flex-grow: 1;
    overflow: visible;
  }

  .room_background-text {
    top: -10%;
    left: -5%;
    z-index: -1;
    bottom: initial;
    right: initial;
    transform: rotate(0);
    font-size: 100px;
    letter-spacing: 10px;
  }

  .room:last-child .room_background-text {
    left: initial;
    right: -5%;
    text-align: right;
  }

  .room_card {
    box-shadow: var(--box-shadow-1);

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    width: 110%;
    min-height: 300px;
    padding: 20px 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
  }

  .room_card--right {
    right: initial;
    left: 0;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .room_card_title {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .room_card_price {
    font-size: 18px;
  }

  .room_card_price span {
    font-size: 12px;
  }

  .room_card_features {
    gap: 12px;
    margin-bottom: 15px;
  }

  .room_card_feature {
    width: 20px;
    height: 20px;
  }

  .room_card_text {
    font-size: 12px;
    line-height: 1.6;
  }

  .room_card_button {
    padding: 5px 10px;
    transition: background-color 0.3s;
    font-size: 20px;
  }

  .room_card_button:hover {
    background-color: var(--color-orange-1);
  }
}

@media screen and (min-width: 1600px) {
  .room_carousel_pics {
    max-height: 800px;
  }

  .room_carousel_slogan_text {
    padding: 15px 45px;
    font-size: 26px;
  }

  .room_carousel_bar_numbers {
    gap: 15px;
  }

  .room_carousel_bar_number {
    font-size: 26px;
  }

  .room_carousel_bar_arrows {
    gap: 15px;
  }

  .room_carousel_bar_arrow {
    font-size: 20px;
  }

  .room_background-text {
    font-size: 160px;
  }

  .room_card {
    min-height: 450px;
  }

  .room_card_title {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .room_card_price {
    font-size: 26px;
  }

  .room_card_price span {
    font-size: 20px;
  }

  .room_card_features {
    gap: 15px;
    margin-bottom: 20px;
  }

  .room_card_feature {
    width: 30px;
    height: 30px;
  }

  .room_card_text {
    font-size: 18px;
  }

  .room_card_button {
    font-size: 26px;
  }
}

/* Rooms */

/* Recommends */
.section-recommend {
  background-color: var(--color-yellow-1);
  padding: 0 0 40px;
}

.section-recommend {
  overflow: clip;
}

.recommend_background-borders {
  position: sticky;
  top: 0;
  z-index: 2;
}

.recommend_background-border {
  position: absolute;
  top: 0;

  width: 50%;
  transition: all 1s;
}

.recommend_background-border img {
  height: 100%;
}

.recommend_background-border--left {
  left: 0;
}

.recommend_background-border--left--draw {
  transform: translateX(-65%);
}

.recommend_background-border--right {
  right: 0;
}

.recommend_background-border--right--draw {
  transform: translateX(65%);
}

.recommend_background-car {
}

.recommend_intro_title {
  text-align: center;
}

.recommend_intro_body {
  display: none;
}

.recommend_intro_bottom {
  display: none;
}

.recommend_card {
  overflow: hidden;
  background-color: #fff;
  box-shadow: var(--box-shadow-1);
}

.recommend_card:last-child {
  margin-bottom: 0;
}

.recommend_card_body {
}

.recommend_card_title {
  text-align: center;
  font-weight: 500;

  display: flex;
  align-items: center;
}

.recommend_card_title span {
  font-family: "Courgette", cursive;
}

.recommend_card--active .recommend_card_title {
  color: var(--color-orange-1);
}

.recommend_card_text {
}

@media screen and (min-width: 1200px) {
  .section-recommend {
    padding: 0 0 80px;
  }

  .recommend_background-border--left--draw {
    transform: translateX(-74%);
  }

  .recommend_background-border--right--draw {
    transform: translateX(74%);
  }

  .recommend_background-car {
    position: fixed;
    bottom: 3%;
    left: 0;
    z-index: 3;

    width: 120px;

    display: none;
  }

  .recommend_background-car--active {
    display: flex;
    animation: drive-car 8s linear infinite, bouncing-car 0.4s linear infinite;
  }

  .recommend_background-car_smoke {
    width: 25px;
    height: 20px;
    align-self: flex-end;
    padding-right: 2px;
  }

  .recommend_background-map {
    height: 300px;
  }

  .recommend {
    position: relative;
    z-index: 1;
  }

  .recommend_intro {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: var(--box-shadow-1);
    overflow: hidden;

    position: sticky;
    top: 50px;
  }

  .recommend_intro_card {
    padding: 20px 40px;
  }

  .recommend_intro_header {
    margin-bottom: 30px;
  }

  .recommend_intro_title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-orange-1);
    margin-bottom: 5px;
  }

  .recommend_intro_dashs {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .recommend_intro_dash {
    width: 30px;
    height: 2px;
    background-color: var(--color-green-1);
  }

  .recommend_intro_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  .recommend_intro_order {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-grey-2);
    line-height: 1.25;

    cursor: pointer;

    display: flex;
  }

  .recommend_intro_order:hover {
    color: var(--color-orange-1);
  }

  .recommend_intro_order--active {
    color: var(--color-orange-1);
  }

  .recommend_intro_order span {
    margin-right: 10px;
    font-family: "Courgette", cursive;
  }

  .recommend_intro_bottom {
    margin-top: auto;
    height: 15px;
    background-color: var(--color-green-1);
  }

  .recommend_card {
    border-radius: 8px;
    margin-bottom: 100px;
  }

  .recommend_card_pic {
    overflow: hidden;
  }

  .recommend_card_pic img {
    transition: transform 0.3s;
  }

  .recommend_card:hover .recommend_card_pic img {
    transform: scale(1.1);
  }

  .recommend_card_body {
    padding: 20px;
  }

  .recommend_card_title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .recommend_card_title span {
    margin-right: 15px;
  }

  .recommend_card_text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1600px) {
  .recommend_background-border--left--draw {
    transform: translateX(-70%);
  }

  .recommend_background-border--right--draw {
    transform: translateX(70%);
  }

  .recommend_background-car {
    width: 160px;
  }

  .recommend_intro {
    border-radius: 16px;
  }

  .recommend_intro_card {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .recommend_intro_title {
    font-size: 28px;
  }

  .recommend_intro_dash {
    height: 4px;
  }

  .recommend_intro_body {
    gap: 30px;
  }

  .recommend_intro_order {
    font-size: 22px;
  }

  .recommend_intro_order span {
    margin-right: 20px;
  }

  .recommend_intro_bottom {
    height: 20px;
  }

  .recommend_card {
    border-radius: 16px;
    margin-bottom: 150px;
  }

  .recommend_card_body {
    padding: 25px 50px;
  }

  .recommend_card_title {
    font-size: 28px;
  }

  .recommend_card_title span {
    margin-right: 25px;
  }

  .recommend_card_text {
    font-size: 18px;
  }
}
/* Recommends */

/* Tourism */
.section-tourism {
  background-color: var(--color-yellow-1);
}

.tourism {
  position: relative;
}

.tourism_content_card_header {
  position: relative;
}

.tourism_content_card_pic {
  overflow: hidden;

  position: relative;
  z-index: 1;
}

.tourism_content_card_pic_bar-1 {
  position: absolute;
  top: 0%;
  left: 0%;

  transform: translate(-50%, -4.5%);

  width: 7%;
  height: 110%;
  background-color: var(--color-green-1);
}

.tourism_content_card_pic_bar-2 {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(-50%);

  width: 110%;
  height: 10%;
  background-color: var(--color-green-1);
}

.col:nth-child(2) .tourism_content_card .tourism_content_card_pic_bar-2,
.col:nth-child(5) .tourism_content_card .tourism_content_card_pic_bar-2 {
  right: 50%;
  width: 115%;
}

.col:nth-child(2) .tourism_content_card .tourism_content_card_pic_bar-2 {
  top: initial;
  bottom: 100%;
  transform: translate(50%, 45%);
}

.col:nth-child(5) .tourism_content_card .tourism_content_card_pic_bar-2 {
  transform: translate(50%, -45%);
}

.col:nth-child(2) .tourism_content_card .tourism_content_card_pic_bar-3,
.col:nth-child(5) .tourism_content_card .tourism_content_card_pic_bar-3 {
  position: absolute;
  top: 0%;
  right: 0%;

  transform: translate(50%, -5%);

  width: 7%;
  height: 110%;
  background-color: var(--color-green-1);
}

.col:nth-child(3) .tourism_content_card .tourism_content_card_pic_bar-1,
.col:nth-child(6) .tourism_content_card .tourism_content_card_pic_bar-1 {
  left: initial;
  right: 0%;
  transform: translate(50%, -4.5%);
}

.col:nth-child(3) .tourism_content_card .tourism_content_card_pic_bar-2,
.col:nth-child(6) .tourism_content_card .tourism_content_card_pic_bar-2 {
  right: initial;
  left: 0;
}

.col:nth-child(4) .tourism_content_card .tourism_content_card_pic_bar-2,
.col:nth-child(6) .tourism_content_card .tourism_content_card_pic_bar-2 {
  top: initial;
  bottom: 100%;
  transform: translateY(50%);
}

.tourism_content_card_content_title {
  text-align: center;
  font-weight: 500;
  color: var(--color-black-1);
  text-transform: uppercase;
}

.tourism_content_card_content_text {
}

@media screen and (min-width: 1200px) {
  .section-tourism {
    padding: 100px 0 0;
  }

  .tourism_header_title {
    font-size: 20px;
  }

  .tourism_content_cards {
    width: 80%;
    margin: 0 auto;
  }

  .tourism_content_card {
    margin-bottom: 50px;
  }

  .tourism_content_card_pic {
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;

    position: relative;
    z-index: 1;
  }

  .tourism_content_card_content_title {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .tourism_content_card_content_text {
    line-height: 1.4;
    font-size: 12px;
  }
}

@media screen and (min-width: 1600px) {
  .tourism_header_title {
    font-size: 28px;
  }

  .tourism_content_cards {
    width: 90%;
  }

  .tourism_content_card {
    margin-bottom: 80px;
  }

  .tourism_content_card_pic {
    border-radius: 16px;
  }

  .tourism_content_card_content_title {
    font-size: 24px;
    margin: 15px 0;
  }

  .tourism_content_card_content_text {
    font-size: 18px;
  }
}

.tourism_gallery {
  padding: 0 50px;
  margin: 100px auto 0;
}

.tourism_gallery_pics {
  display: grid;
  grid-template-areas:
    "fishing-2 cycle-1 hike-3 cycle-2 hike-2 fishing-1"
    "fishing-2 cycle-1 hike-3 cycle-2 kayak-3 fishing-1"
    "walk-5 cycle-1 walk-2 cycle-2 swim-1 fishing-1"
    "walk-1 kayak-1 walk-2 hike-1 kayak-2 walk-3"
    "walk-1 kayak-1 walk-4 hike-1 kayak-2 cycle-3"
    "walk-1 kayak-1 walk-4 hike-1 kayak-2 cycle-3";
}

.tourism_gallery_pic--hike-1 {
  grid-area: hike-1;
}

.tourism_gallery_pic--hike-2 {
  grid-area: hike-2;
}

.tourism_gallery_pic--hike-3 {
  grid-area: hike-3;
}

.tourism_gallery_pic--cycle-1 {
  grid-area: cycle-1;
}

.tourism_gallery_pic--cycle-2 {
  grid-area: cycle-2;
}

.tourism_gallery_pic--cycle-3 {
  grid-area: cycle-3;
}

.tourism_gallery_pic--walk-1 {
  grid-area: walk-1;
}

.tourism_gallery_pic--walk-2 {
  grid-area: walk-2;
}

.tourism_gallery_pic--walk-3 {
  grid-area: walk-3;
}

.tourism_gallery_pic--walk-4 {
  grid-area: walk-4;
}

.tourism_gallery_pic--walk-5 {
  grid-area: walk-5;
}

.tourism_gallery_pic--swim-1 {
  grid-area: swim-1;
}

.tourism_gallery_pic--kayak-1 {
  grid-area: kayak-1;
}

.tourism_gallery_pic--kayak-2 {
  grid-area: kayak-2;
}

.tourism_gallery_pic--kayak-3 {
  grid-area: kayak-3;
}

.tourism_gallery_pic--fishing-1 {
  grid-area: fishing-1;
}

.tourism_gallery_pic--fishing-2 {
  grid-area: fishing-2;
}
/* Tourism */

/* Booking */
.section-booking {
  padding: 70px 0 100px;
}

.booking {
  text-align: center;
}

.booking_button {
  background-color: var(--color-green-1);

  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.booking_button i {
}

@media screen and (min-width: 1200px) {
  .booking_button {
    width: 400px;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s;

    font-size: 18px;
  }

  .booking_button:hover {
    background-color: var(--color-orange-1);
  }

  .booking_button i {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1600px) {
  .booking_button {
    width: 600px;
    padding: 20px;
    font-size: 24px;
  }

  .booking_button i {
    margin-left: 20px;
  }
}
/* Booking */
